:root {
  --color-background: #000000;
  --color-black: #1B020E;
  --color-gray: #1C1C1C;
  --color-gray-light: #1F1F1F;
  --color-accent: #F0DA7D;
  --color-subaccent: #BA8E47;
  --color-white: #FFFFFF;
  --color-white-transparent: #FFFFFF50;
  --color-error: #d20606;
}

